                    <!-- Central Column end -->
						</div>
					 </div>
						<div class="column-left">
                <div id="column-left-content">
                    <!-- Left Column start -->
                    <!-- Left Column end -->
                </div>
            </div>
            <div class="column-right">
                <!-- Right Column start -->
                <!-- Right Column end -->

            </div>
					 </div>
					</div>
				</div>

						<div class="container-bottom">
            <table>
                <tr>
                    <td>
                        <a href="/">Home</a>|
                        <a href="/db/cgi-bin/dictyBase/suggestion">Contact dictyBase</a>|
                        <a href="http://wiki.dictybase.org/dictywiki/index.php/Standard_Operating_Procedures">SOPs</a>|
                        <a href="/sitemap.html">Site Map</a>
                    </td>
                    <td style="text-align:right;">
                        &nbsp;Supported by NIH (NIGMS and NHGRI)&nbsp;
                        <a href="http://www.nih.gov/">
                            <img src="/inc/images/nih_sm.gif"/>
                        </a>
                        <a href="http://geneontology.org">
                            <img src="/inc/images/go_sm.gif"/>
                        </a>
                        <a href="http://gmod.org/wiki/Main_Page">
                            <img src="/inc/images/gmod.gif"/>
                        </a>
                    </td>
                </tr>
            </table>
        	 </div>
        
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl.": "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16352781-1");
pageTracker._setDomainName(".dictybase.org ");
pageTracker._trackPageview();
} catch(err) {}</script> 
   </body>
</html>
